pipeline/parquet_to_sqldw_loop.json
{
	"name": "parquet_to_sqldw_loop",
	"properties": {
		"activities": [
			{
				"name": "LookupParameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select\nlineid\n,src_server,src_db,src_schema,src_table,src_type,src_directory\n,dst_server,dst_db,dst_schema,dst_table,dst_type,dst_directory\n,pipeline_watermark_field, pipeline_watermark_date\n,pipeline_status,pipeline_exec_date, rows_copied\nFrom pipeline_parameter2\nwhere process_type = 'adls-sqldw' and isactive = 1\norder by priority_lane",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_ASQLDB_PIPEINE_PARAMETER",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachParameter",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupParameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupParameters').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "parquet_to_sqldw",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "parquet_to_sqldw",
									"type": "DataFlowReference",
									"parameters": {
										"src_schema": {
											"value": "'@{item().src_schema}'",
											"type": "Expression"
										},
										"src_table": {
											"value": "'@{item().src_table}'",
											"type": "Expression"
										},
										"src_directory": {
											"value": "'@{item().src_directory}'",
											"type": "Expression"
										},
										"dst_schema": {
											"value": "'@{item().dst_schema}'",
											"type": "Expression"
										},
										"dst_table": {
											"value": "'@{item().dst_table}'",
											"type": "Expression"
										},
										"dst_directory": {
											"value": "'@{item().dst_directory}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"sink1": {
											"sqldw_schema": {
												"value": "@item().dst_schema",
												"type": "Expression"
											},
											"sqldw_table": {
												"value": "@item().dst_table",
												"type": "Expression"
											}
										}
									}
								},
								"staging": {
									"linkedService": {
										"referenceName": "LinkedSerivice_ADLS2",
										"type": "LinkedServiceReference"
									},
									"folderPath": "landing/temp"
								},
								"compute": {
									"coreCount": 32,
									"computeType": "MemoryOptimized"
								}
							}
						},
						{
							"name": "Stored procedure to save results",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "parquet_to_sqldw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_pipeline_parameter_table]",
								"storedProcedureParameters": {
									"LastModifiedtime": {
										"value": {
											"value": "@formatDateTime(pipeline().TriggerTime,'s')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"lineid": {
										"value": {
											"value": "@item().lineid",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"status": {
										"value": "Successful",
										"type": "String"
									},
									"rowscount": {
										"value": {
											"value": "-1",
											"type": "Expression"
										}
									},
									"processtype": {
										"value": "FullLoad"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_AZSQLDB_PipelineParameteres",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure to save results_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "parquet_to_sqldw",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_pipeline_parameter_table]",
								"storedProcedureParameters": {
									"LastModifiedtime": {
										"value": {
											"value": "@formatDateTime(pipeline().TriggerTime,'s')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"lineid": {
										"value": {
											"value": "@item().lineid",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"status": {
										"value": "Fail",
										"type": "String"
									},
									"rowscount": {
										"value": {
											"value": "0",
											"type": "Expression"
										}
									},
									"processtype": {
										"value": "FullLoad"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "DS_AZSQLDB_PipelineParameteres",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "DataFlow Approach"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}